In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
import re

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1761,tt0419843,10000000,17500000,In the Land of Women,Meg Ryan|Kristen Stewart|Adam Brody|JoBeth Wil...,Jon Kasdan,Get ready to fall,After a bad breakup with his girlfriend leaves...,97,Romance|Comedy|Drama,Castle Rock Entertainment|Land Films Inc.|Anon...,4/16/2007,6.0,2007
174,tt2004420,18000000,268157400,Neighbors,Seth Rogen|Zac Efron|Rose Byrne|Dave Franco|Ik...,Nicholas Stoller,Family vs. Frat,A couple with a newborn baby face unexpected d...,96,Comedy,Universal Pictures|Point Grey Pictures|Good Un...,5/8/2014,6.2,2014
78,tt2910904,11930000,18340000,The Dressmaker,Kate Winslet|Liam Hemsworth|Caroline Goodall|J...,Jocelyn Moorhouse,Revenge is back in fashion,"In 1950s Australia, beautiful, talented dressm...",118,Drama,Amazon Studios|Film Art Media|Apollo Media,10/1/2015,6.9,2015
1644,tt0293508,70000000,154648887,The Phantom of the Opera,Gerard Butler|Emmy Rossum|Patrick Wilson|Miran...,Joel Schumacher,The classic musical comes to the big screen fo...,"Deformed since birth, a bitter man known only ...",143,Thriller|Drama|Romance,Odyssey Entertainment|Warner Bros.|Scion Films...,12/8/2004,6.8,2004
576,tt0232500,38000000,207283925,The Fast and the Furious,Paul Walker|Vin Diesel|Michelle Rodriguez|Jord...,Rob Cohen,Live life 1/4 mile at a time.,Domenic Toretto is a Los Angeles street racer ...,106,Action|Crime|Thriller,Universal Pictures|Original Film|Ardustry Ente...,6/22/2001,6.4,2001

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

data['profit'] = data['revenue'] - data['budget']

def display_format(titlt,id):     # создадим функцию для вывода ответов в удобном для вставки в словарь формате
    return display(title + " ("+ id + ")")

# 1. У какого фильма из списка самый большой бюджет?

In [6]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [5]:
title = data[data.budget==data.budget.max()].original_title
id = data[data.budget==data.budget.max()].imdb_id
display(title)
display(id)

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

723    tt1298650
Name: imdb_id, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [7]:
title = data[data.runtime==data.runtime.max()].original_title
id = data[data.runtime==data.runtime.max()].imdb_id
display_format(title,id)

1157    Gods and Generals (tt0279111)
dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [9]:
title = data[data.runtime==data.runtime.min()].original_title
id = data[data.runtime==data.runtime.min()].imdb_id
display_format(title,id)

768    Winnie the Pooh (tt1449283)
dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
# +

In [11]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '1. 107'
# +

In [13]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [15]:
title = data[data.profit==data.profit.max()].original_title
id = data[data.profit==data.profit.max()].imdb_id
display_format(title,id)

239    Avatar (tt0499549)
dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [17]:
title = data[data.profit==data.profit.min()].original_title
id = data[data.profit==data.profit.min()].imdb_id
display_format(title,id)

1245    The Lone Ranger (tt1210819)
dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1. 1478'
# +

In [19]:
data[data.profit > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [21]:
title = data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title
id = data[data.revenue == data[data.release_year == 2008].revenue.max()].imdb_id
display_format(title,id)

599    The Dark Knight (tt0468569)
dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [23]:
data_2012_2014 = data.query('2012 <= release_year < = 2014')
title = data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()].original_title
id = data_2012_2014[data_2012_2014.profit == data_2012_2014.profit.min()].imdb_id
display_format(title,id)

1245    The Lone Ranger (tt1210819)
dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = '3. Drama'
# +

In [25]:
data.genres.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Drama'

ВАРИАНТ 2

In [27]:
data.genres.str.split('|',expand=True).stack().value_counts().sort_values(ascending = False).index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
answers['12'] = '1. Drama'
# +

In [28]:
data[data.profit>0].genres.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [31]:
answers['13'] = '5. Peter Jackson'
#

In [30]:
dataset = pd.read_csv('movie_bd_v5.csv')
dataset['director'] = dataset['director'].apply(lambda x:x.split('|'))
dataset_director_new = dataset.explode('director')
director_max_revenue = dataset_director_new.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]
display(director_max_revenue)

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [33]:
answers['14'] = '3. Robert Rodriguez'
# +

In [32]:
dataset = pd.read_csv('movie_bd_v5.csv')
data_action = dataset[dataset.genres.str.contains('Action')]
data_action.director.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [35]:
answers['15'] = '3. Chris Hemsworth'
# +

In [34]:
dataset = pd.read_csv('movie_bd_v5.csv')
dataset['cast'] = dataset['cast'].apply(lambda x:x.split('|'))
dataset_cast = dataset.explode('cast')
cast_max_revenue = dataset_cast[dataset_cast.release_year==2012].groupby(['cast'])['revenue'].\
                   sum().sort_values(ascending=False).index[0]
display(cast_max_revenue)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [37]:
answers['16'] = '3. Matt Damon'
# +

In [36]:
dataset = pd.read_csv('movie_bd_v5.csv')
data_high_budget = dataset[dataset.budget > dataset.budget.mean()]
data_high_budget.cast.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [39]:
answers['17'] = '2. Action'
# +

In [38]:
data_cage = data[data.cast.str.contains('Nicolas Cage', na=False)]
data_action.genres.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [41]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [40]:
dt = data[data.production_companies.str.contains('Paramount Pictures', na=False)]
title = dt[dt.profit == dt.profit. min()].original_title
id = dt[dt.profit == dt.profit. min()].imdb_id
display_format(title,id)

925    K-19: The Widowmaker (tt0267626)
dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [43]:
answers['19'] = '5. 2015'
# +

In [42]:
data.groupby(['release_year']).profit.sum().sort_values(ascending = False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [45]:
answers['20'] = '1. 2014'
# +

In [44]:
dt = data[data.production_companies.str.contains('Warner Bros', na=False)]
dt.groupby(['release_year']).profit.sum().sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
answers['21'] = '4. Сентябрь'
# +

In [46]:
dataset = pd.read_csv('movie_bd_v5.csv')
dataset.release_date = dataset.release_date.apply(lambda x: x.split('/')).apply(lambda x: x[0])
data_grouped = dataset.groupby(['release_date']).count()
month_max = data_grouped.imdb_id.sort_values(ascending = False).index[0]
display(month_max)

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [49]:
answers['22'] = '2. 450'
# +

In [48]:
data[data.release_date.str.match('6\D|7\D|8\D', na = False)].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [51]:
answers['23'] = '5. Peter Jackson'
# +

In [50]:
dataset = pd.read_csv('movie_bd_v5.csv')
data_winter = dataset[dataset.release_date.str.match('1\D|2\D|12\D', na = False)]
data_winter.director.apply(lambda x:x.split(sep = '|')).explode().value_counts().sort_values(ascending = False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [53]:
answers['24'] = '5. Four By Two Productions'
# +

In [52]:
dataset = pd.read_csv('movie_bd_v5.csv')
dataset['production_companies'] = dataset['production_companies'].apply(lambda x:x.split('|'))
dataset_production_companies = dataset.explode('production_companies')
dataset_production_companies['len_title'] = dataset_production_companies['original_title'].apply(lambda x:len(x))
dataset_production_companies.groupby(['production_companies'])['len_title'].mean().sort_values(ascending = False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [55]:
answers['25'] = '3. Midnight Picture Show'
# +

In [54]:
dataset = pd.read_csv('movie_bd_v5.csv')

# Разносим по отдельным строкам названия студий и слова в описанях фильмов
dataset['production_companies'] = dataset['production_companies'].apply(lambda x:x.split('|'))
dataset_companies = dataset.explode('production_companies')
dataset_companies['overview'] = dataset_companies['overview'].apply(lambda x:x.split(' '))
dataset_words = dataset_companies.explode('overview')

# Создаем датафрейм с количеством фильмов у каждой студии
groped_movies = dataset_words.groupby(['production_companies'])['imdb_id'].nunique()
df_movies = groped_movies.reset_index()
df_movies.columns = ['production_companies', 'number_of_movies']

# Создаем датафрейм с общим количеством слов в описаниях фильмов у каждой студии
groped_words = dataset_words.groupby(['production_companies'])['overview'].count()
df_words = groped_words.reset_index()
df_words.columns = ['production_companies', 'number_of_words']

# Объединям датафреймы и рассчитываем среднее количество слов в описании фильмов для каждой студии
joned = df_movies.merge(df_words,on = 'production_companies', how = 'outer')
joned['average_number'] = joned['number_of_words']/ joned['number_of_movies']

display(joned[joned.average_number == joned.average_number.max()])

       production_companies  number_of_movies  number_of_words  average_number
1041  Midnight Picture Show                 1              175           175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [57]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [56]:
dataset = pd.read_csv('movie_bd_v5.csv')
q99 = dataset["vote_average"].quantile(0.99)
data_best = dataset[dataset['vote_average'] > q99]['original_title'].sort_values(ascending = True)
display(data_best)

1191                                 12 Years a Slave
128                                         Gone Girl
119                           Guardians of the Galaxy
370                                         Inception
9                                          Inside Out
118                                      Interstellar
1800                                          Memento
34                                               Room
599                                   The Dark Knight
138                          The Grand Budapest Hotel
125                                The Imitation Game
1081    The Lord of the Rings: The Return of the King
872                                       The Pianist
1183                          The Wolf of Wall Street
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [59]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [58]:
import pandas as pd
import collections
dataset = pd.read_csv('movie_bd_v5.csv')
dataset['cast'] = dataset['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
dataset['pairs'] = dataset['cast'].apply(lambda s: list(combinations(s, 2)))
dataset = dataset.explode('pairs')
collections.Counter(dataset['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27